<header class="pos">MyShoppingCart</header>
<div id="navbar" class = "dropdwn">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Electronics</b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="mobile">Mobiles</a></li>
                        <li><a ui-sref="laptops">Laptops</a></li>
                        <li><a href="#">Telivision</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Books</b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Fiction</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Autobiographic</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</div>


<!--search bar-->

<div class = "search" ng-controller = "homeController as hc">
    <ui-select ng-model = "hc.selected" theme="bootstrap"  reset-search-input='false' on-select="onSelected($item)">
        <ui-select-match placeholder="Select a item in the list" id="automplete" >{{$select.selected.name}}</ui-select-match>
        <ui-select-choices  refresh = "hc.select($select.search)"  refresh-delay="0" repeat="item in userDetail | filter : $select.search |limitTo: hc.limit "> {{ item.name}} , price :{{ item.price}}
        </ui-select-choices>
    </ui-select>
</div>


















