<header class="pos">MyShoppingCart</header>
<!--<footer class="pos1">Fixed Footer</footer>-->
<div class="container">
    <ul class = "nav navbar-nav " >
        <li class="dropdown">
            <a ui-sref="home" class="dropbtn">Electronics</a>
            <div class="dropdown-content">
                <a href="#">Mobiles </a>
                <a href="#">Laptops </a>
                <a href="#">Telivison </a>
            </div>
        </li>

        <li class="dropdown">
            <a ui-sref="books" class="dropbtn">Books</a>
            <div class="dropdown-content">
                <a href="#">Literature</a>
                <a href="#">Children </a>
                <a href="#">biography</a>
            </div>
        </li>
        <li class="dropdown">
            <a ui-sref="homefurniture" class="dropbtn">Home&furniture</a>
            <div class="dropdown-content">
                <a href="#">Home & Decor</a>
                <a href="#">Tools & Hardware</a>
                <a href="#">others</a>
            </div>
        </li>
    </ul>
</div>